/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global Styles */
body {
    font-family: 'Arimo', sans-serif;
    color: #333;
    background-color: #ffffff;
    overflow-x: hidden; /* Keine Seitenscroller */
}

/* Global Section Spacing */
section {
    margin-bottom: 50px;
}

.hero {
    margin-bottom: 0px;
}

.content-section, .services, .about-section, .blog-section, .news-section, .contact-section, .faq-section {
    margin-bottom: 70px;
}

footer {
    margin-top: 70px;
}

/* Top Bar Styles */
.top-bar {
    background-color: #1A68A2;
    color: #ffffff;
    padding: 20px 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.top-bar .container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-info .icon {
    width: 24px;
    height: 24px;
}

.contact-link {
    color: #ffffff;
    text-decoration: none;
}

.contact-link:hover {
    text-decoration: underline;
}

.social-media a {
    margin-left: 15px;
}

.social-media a img {
    width: 24px;
    height: 24px;
}

.social-media a:hover img {
    opacity: 0.8;
}

/* Header Styles */
.header {
    width: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 999;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 20px;
}

.header-left .logo {
    max-height: 90px;
    position: relative;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li a {
    color: #205B82;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1rem;
}

.menu li a:hover {
    color: #1A68A2;
    text-decoration: underline;
}

/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.hero-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(26, 104, 162, 0.5) 50%, transparent 100%);
    display: flex;
    justify-content: center;
    align-items: flex-end; /* Weiter nach unten schieben */
    padding-bottom: 70px; /* Abstand nach unten vergrößert */
    z-index: 1;
}

.hero-content {
    color: #fff;
    text-align: center;
}

.hero h1 {
    font-size: 2rem; /* Etwas kleiner als zuvor */
    margin-bottom: 10px;
}

.hero p {
    font-size: 1rem; /* Etwas kleiner */
    margin-bottom: 15px;
}

.hero-button {
    display: inline-block;
    padding: 8px 16px; /* Kleinere Größe des Buttons */
    background-color: #ffffff;
    color: #1A68A2;
    font-weight: bold;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem; /* Kleinere Schriftgröße im Button */
    transition: transform 0.3s ease;
}

.hero-button:hover {
    transform: scale(1.05);
}

/* Content Section */
.content-section {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    background-color: #ffffff;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    gap: 20px;
}

.text-content {
    flex: 1;
    padding-left: 20px;
}

.text-content h2 {
    font-size: 2.5rem;
    color: #1A68A2;
}

.text-content p {
    font-size: 1.2rem;
    color: #555;
    margin-top: 10px;
    line-height: 1.6;
}

.buttons .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #1A68A2;
    color: #ffffff;
    border-radius: 15px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.buttons .button:hover {
    transform: scale(1.1);
}

.image-content {
    flex: 1;
    padding-right: 20px;
}

.image-content img {
    max-width: 100%;
    border-radius: 10px;
}

/* Services Section */
.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    margin-top: 50px;
}

.service-item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    cursor: pointer;
}

.service-image {
    width: 100%;
    height: 200px;
}

.service-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease-in-out;
}

.service-text {
    background-color: #ffffff;
    color: #1A68A2;
    padding: 30px;
    text-align: center;
    height: 150px;
}

.service-item:hover .service-image img {
    transform: scale(1.1);
}

.service-text h3 {
    font-size: 1.5rem;
    margin: 0;
}

.service-text p {
    font-size: 1rem;
    margin-top: 10px;
    display: none;
}

.service-item:hover p {
    display: block;
}

/* About Section */
.about-section {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    width: 100vw;
    z-index: 10;
    position: relative;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}

.about-image {
    flex: 1;
}

.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-text {
    flex: 1;
    background-color: #ffffff;
    color: #1A68A2;
    padding: 40px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.about-text h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.about-text p {
    font-size: 1.2rem;
    margin-top: 20px;
    line-height: 1.6;
}

.about-button {
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px;
    background-color: #1A68A2;
    color: #ffffff;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.about-button:hover {
    background-color: #205B82;
    color: #ffffff;
    border: 2px solid #ffffff;
}

/* Blog Section */
.blog-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0;
    padding: 0;
}

.blog-item {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    padding: 50px;
    border-radius: 20px;
    max-width: 50%;
}

.blog-item.left {
    background-color: #1A68A2;
    color: white;
    border-radius: 20px;
}

.blog-item.right {
    background-color: #1A68A2;
    color: white;
    border-radius: 20px;
}

.blog-content {
    text-align: left;
    max-width: 80%;
}

.blog-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.blog-content p.teaser {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.blog-section .toggle-button {
    display: inline-block;
    color: white;
    background-color: #689ABF;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 30px;
    transition: color 0.3s, background-color 0.3s;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #1A68A2;
    cursor: pointer;
}

.blog-section .toggle-button:hover {
    background-color: #AECEE4;
}

/* News Section */
.news-section {
    padding: 50px 40px;
    background-color: #ffffff;
    color: #1A68A2;
    font-family: 'Arimo', sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.news-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    text-align: left;
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
}

.news-content {
    width: 50%;
    padding-right: 20px;
}

.news-content h3 {
    font-size: 2rem;
    margin-bottom: 15px;
    color: #1A68A2;
}

.news-content p {
    font-size: 1.2rem;
    margin-bottom: 15px;
    color: #333;
}

.news-image {
    width: 50%;
    height: auto;
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    object-fit: cover;
}

.news-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

/* Kontakt Section */
.contact-section {
    padding: 40px;
    background-color: #ffffff;
    color: #1A68A2;
    font-family: 'Arimo', sans-serif;
    margin-top: 50px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 30px;
    margin-left: -65px;
}

.contact-form-box,
.contact-details {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.contact-form-box h2,
.contact-form-box p {
    margin-bottom: 20px;
}

.contact-form-box form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-form-box form input,
.contact-form-box form textarea,
.contact-form-box form button {
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-family: inherit;
}

.contact-form-box form button {
    width: auto;
    background-color: #1A68A2;
    color: white;
    font-size: 1.2rem;
    padding: 10px 30px;
    border-radius: 25px;
    margin-top: 20px;
}

/* Google Maps Karte */
.map-container {
    margin-top: 20px;
    height: 400px;
    width: 100%;
}

.contact-container::before {
    content: "";
    display: block;
    height: 100%;
    width: 1px;
    background-color: #ddd;
    margin: 0 20px;
}

/* FAQ Section */
.faq-section {
    padding: 50px 40px;
    background-color: #ffffff;
    color: #1A68A2;
    font-family: 'Arimo', sans-serif;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-bottom: 40px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.faq-section h2 {
    font-size: 2.5rem;
    color: #1A68A2;
    text-align: center;
    margin-bottom: 40px;
}

.faq-item {
    margin-bottom: 30px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.faq-item h3 {
    font-size: 1.8rem;
    color: #1A68A2;
    margin-bottom: 15px;
}

.faq-item p {
    font-size: 1.2rem;
    color: #333;
    line-height: 1.8;
}

/* Footer */
footer {
    background-color: #ffffff;
    color: #1A68A2;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

footer p {
    margin-bottom: 5px;
}

footer .footer-links {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

footer .footer-links a {
    color: #1A68A2;
    text-decoration: none;
}

footer .footer-links a:hover {
    color: #AECEE4;
}

footer .logo {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 200px;
    height: auto;
}

footer .gray-space {
    background-color: #ffffff;
    height: 40px;
}

/* Mobile Styles für die Top Bar */
@media (max-width: 768px) {
    /* Top Bar Container */
    .top-bar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px; /* Padding für den linken und rechten Rand */
    }

    /* Linke Seite: Standort, Anruf, E-Mail Icons */
    .contact-info {
        display: flex;
        justify-content: flex-start;
        gap: 10px; /* Abstand zwischen den Icons */
        padding-left: 10px; /* Abstand von der linken Seite */
    }

    /* Rechte Seite: Hamburger Menü */
    .menu-toggle {
        display: block;
        font-size: 2rem;
        color: white;
        padding-right: 10px; /* Abstand von der rechten Seite */
    }

    /* Social Media Icons zentrieren */
    .social-media {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        gap: 10px; /* Abstand zwischen den Social Media Icons */
    }

/* --- Bestehende CSS-Datei --- */

/* Dein normales Styling geht hier ... */

/* Mobile Menu Styles - füge dies unter deinen bestehenden mobilen Stilen ein */
@media (max-width: 768px) {
    /* Vollbild-Menü mit transparentem, dunklem Blau-Hintergrund */
    .mobile-nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(26, 40, 70, 0.9); /* Dunkles Blau mit Transparenz */
        z-index: 1000;
        justify-content: center;
        align-items: center;
    }

    .mobile-nav.show {
        display: flex;
    }

    /* Menü-Elemente */
    .mobile-nav ul {
        list-style: none;
        padding: 0;
        text-align: center;
    }

    .mobile-nav ul li {
        margin: 20px 0;
    }

    .mobile-nav ul li a {
        color: #ffffff;
        font-size: 1.5rem;
        text-decoration: none;
    }

    /* Untermenü-Stile */
    .submenu {
        display: none;
        margin-top: 10px;
        padding-left: 20px; /* Leichter Einzug für Untermenü */
    }

    .submenu.show {
        display: block; /* Zeigt das Untermenü bei Klick */
    }

    .submenu li {
        margin: 10px 0;
    }

    .submenu li a {
        font-size: 1.3rem;
    }

    /* Stil für Schließen-Button und Klick auf außerhalb */
    .close-btn, .mobile-nav-overlay {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2rem;
        color: #ffffff;
        cursor: pointer;
    }

/* Mobile Styles */
@media (max-width: 768px) {
    /* Kein Seitenscrollen */
    body {
        overflow-x: hidden;
    }

    /* Header und Top Bar zentrieren */
    .top-bar .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    /* Icons und Social Media Buttons korrekt zentrieren */
    .contact-info {
        justify-content: flex-start;
    }

    .social-media {
        display: flex;
        justify-content: center;
    }

    /* Hamburger-Menü für Mobilansicht */
    .menu-toggle {
        display: block;
        font-size: 2rem;
        color: white;
        margin-right: 5%;
    }

    .menu {
        display: none; /* Versteckt in mobiler Ansicht */
    }

    .mobile-nav {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 1000;
        justify-content: center;
        align-items: center;
    }

    .mobile-nav.show {
        display: flex;
    }

    .mobile-nav ul {
        list-style: none;
        padding: 0;
        text-align: center;
    }

    .mobile-nav ul li {
        margin: 20px 0;
    }

    .mobile-nav ul li a {
        color: #ffffff;
        font-size: 1.5rem;
        text-decoration: none;
    }

    /* Fullscreen-Hamburger-Menü */
    .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 2rem;
        color: white;
        cursor: pointer;
    }

    /* Mobile Hero Section */
    .hero {
        height: 50vh;
    }

    .hero h1 {
        font-size: 2.5rem;
    }

    .hero p {
        font-size: 1.2rem;
    }

    .hero-button {
        font-size: 1.2rem;
        padding: 10px 20px;
    }

    /* Mobile Content Section */
    .content-container {
        flex-direction: column;
        text-align: center;
        padding: 0 15px; /* Gleichmäßiger Abstand links und rechts */
    }

    .text-content {
        padding: 10px 0;
    }

    .image-content {
        padding: 10px 0;
    }

    .image-content img {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
    }

    /* Services Mobile Grid */
    .services {
        grid-template-columns: 1fr;
    }

    .service-item {
        margin-bottom: 20px;
    }

    .service-text {
        padding: 20px;
    }

 @media (max-width: 768px) {
    .contact-container {
        display: flex;
        flex-direction: column; /* Boxen untereinander anordnen */
        text-align: center;
        margin: 0 auto;
    }

    .contact-form-box,
    .contact-details {
        margin: 20px auto;
        width: 90%; /* Breite auf 90% setzen für eine gleichmäßige Darstellung */
        text-align: center;
    }

    /* Google Maps-Karte für mobile Ansicht */
    .contact-details .map {
        margin-top: 20px;
        width: 100%;
        height: 300px;
    }

@media (max-width: 768px) {
    .contact-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-form-box,
    .contact-details {
        width: 90%; /* Die Breite der Boxen anpassen */
        margin-bottom: 20px; /* Etwas Abstand zwischen den Boxen */
    }

    .map {
        width: 100%;
        height: 300px; /* Höhe der Karte */
        margin-top: 20px; /* Abstand zur oberen Box */
    }


@media (max-width: 768px) {
    /* About Section (Mobile Optimierung) */
    .about-section {
        display: flex;
        flex-direction: column; /* Stackt den Text und das Bild untereinander */
        align-items: center; /* Zentriert den gesamten Inhalt */
        padding: 20px;
    }

    .about-text {
        text-align: center; /* Zentriert den Text */
        margin-bottom: 20px; /* Abstand zwischen Text und Bild */
    }

    .about-image {
        width: 100%; /* Breite auf 100% des Containers */
        max-width: 500px; /* Maximalbreite, damit das Bild nicht zu groß wird */
        text-align: center; /* Zentriert das Bild */
    }

    .about-image img {
        width: 100%; /* Bild füllt den Container */
        height: auto;
        display: block;
        margin: 0 auto; /* Zentriert das Bild horizontal */
    }

    .about-button {
        display: inline-block;
        padding: 10px 20px; /* Etwas kürzerer Button */
        background-color: #1A68A2;
        color: #ffffff;
        font-weight: bold;
        border-radius: 5px;
        text-decoration: none;
        font-size: 1rem;
        margin-top: 10px;
    }

    .about-button:hover {
        background-color: #205B82; /* Button Farbe beim Hover */
    }

@media (max-width: 768px) {
    /* Services Section (Mobile Optimierung) */
    .services {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px; /* Mehr Abstand zwischen den einzelnen Services */
        padding: 20px;
    }

    .service-item {
        text-align: center; /* Zentriert die Inhalte */
    }

    .service-text {
        color: #205B82; /* Dunkelblau für den Text */
        padding: 10px;
        font-size: 1.1rem;
    }

    .service-text h3 {
        color: #205B82; /* Dunkelblau für die Titel */
        font-size: 1.5rem;
        margin-top: 20px; /* Fügt mehr Abstand zwischen dem Bild und dem Titel hinzu */
        margin-bottom: 10px; /* Fügt mehr Abstand unter dem Titel hinzu */
    }

    .service-text p {
        display: block;
        color: #555; /* Leicht dunkleres Grau für den Beschreibungstext */
        font-size: 1rem;
        margin-top: 10px;
    }

    .service-text a {
        color: #205B82; /* Setzt die Linkfarbe auf Dunkelblau */
        text-decoration: none; /* Entfernt die Unterstreichung des Links */
    }

    .service-text a:hover {
        color: #1A68A2; /* Hellblau beim Hover */
        text-decoration: underline; /* Fügt eine Unterstreichung beim Hover hinzu */
    }

    .service-image img {
        width: 100%;
        max-width: 400px; /* Maximalbreite des Bildes */
        height: auto;
        margin: 0 auto; /* Zentriert das Bild horizontal */
    }

@media (max-width: 768px) {
    /* Verkleinere den Abstand zwischen der Service- und der News-Section */
    .services {
        margin-bottom: 0px;
    }

    /* Überschrift und Text in der News-Section weiter nach links verschieben und Zeilenumbrüche anpassen */
    .news-section .news-item {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-bottom: 30px;
        padding-left: 10px; /* Weiter nach links verschoben */
    }

    .news-section h3 {
        text-align: left;
        margin-bottom: 10px;
        padding-left: 5px; /* Überschrift nach links verschieben */
        line-height: 1.4;
    }

    /* Zweizeilige Überschrift: Sperrmüllentsorgung in einer Zeile, Winterdienst in der nächsten */
    .news-section h3 {
        white-space: normal;
    }

    /* Textaufteilung für die Beschreibung anpassen */
    .news-section .news-content {
        text-align: left;
        padding-left: 5px;
        line-height: 1.6;
        width: 95%;
    }

    .news-section .news-content p {
        max-width: 100%;
        word-break: break-word;
        text-align: left;
    }

    /* Button anpassen und mehr Abstand zum Bild */
    .news-section .read-more {
        display: inline-block;
        margin-top: 15px;
        padding: 10px 30px;
        background-color: #1A68A2;
        color: white;
        border-radius: 15px;
        text-decoration: none;
        font-weight: bold;
        text-align: left;
        margin-left: 5px;
        margin-bottom: 40px; /* Noch mehr Abstand zum Bild */
    }

    .news-section .read-more:hover {
        background-color: #205B82;
    }

    /* Bild unter dem Button größer machen und zentrieren */
    .news-section .news-image {
        margin: 0 auto;
        width: 100%; /* Bildgröße weiter vergrößern */
        height: auto;
        max-width: 90%; /* Zentrieren und weiter vergrößern */
    }
}